###############################
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
# LOL FUNNY HAHAHAH FUNNY LOL #
###############################
*.exe
*.o
*.mod
*.a
*.f90